/* Copyright 2018 Tecnativa - Jairo Llopis
 * Copyright 2021 ITerra - Sergey Shebanin
 * Copyright 2023 Onestein - Anjeel Haria
 * Copyright 2023 Taras Shabaranskyi
 * Copyright 2026 Liam Noonan
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Color clue to tell the difference between a note and a public message
.o-mail-Chatter-top:has(.o-mail-Chatter-sendMessage.active) {
    .o-mail-Composer {
        background-color: $o-component-active-bg;
        padding-top: 8px !important;
        border-radius: 8px;

        &-inputContainer {
            margin-right: 8px;
        }
    }
}

// Highlight the header of the modal mail composer when it is sending a public message
.modal-content:has(.o_mail_composer_form_view):has(button.o_mail_send) {
    .modal-header {
        background-color: $o-component-active-bg;
    }
}
