/* Copyright 2019 Tecnativa - Alexandre Díaz
 * Copyright 2021 ITerra - Sergey Shebanin
 * Copyright 2023 Taras Shabaranskyi
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

.o-FileViewerContainer {
    position: fixed;
    right: 0;
    z-index: $zindex-fixed;

    &__maximized {
        top: 0;
        left: 0;
        right: 0;
    }

    &__minimized {
        // Exclude the chatter resize-handle gutter. To match:
        // web_responsive/static/src/chatter/web/form_chatter.scss:10.
        width: calc(var(--wr-resizable-chatter-width) - #{map-get($spacers, 2)});
        height: var(--o-FileViewerContainer-height);
        top: unset;
        right: 0;
        left: auto;
        bottom: 0;

        .o-FileViewer-main {
            padding: $o-navbar-height 0 0 0;
        }

        .o-FileViewer-viewPdf {
            width: 100% !important;
        }
    }

    .o-FileViewer-navigation {
        background-color: rgba(255, 255, 255, 0.2);
        text-shadow: 0 0 rgba(30, 30, 30, 0.8);
        box-shadow: 0 0 1px 0 rgba(30, 30, 30, 0.4);
        transition:
            background-color 0.2s,
            box-shadow 0.2s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            text-shadow: 0 0 black;
            box-shadow: 0 0 2px 0 rgba(30, 30, 30, 0.8);
        }
    }
}

body:has(.wr_apps_menu_container) .o-FileViewerContainer {
    display: none !important;
}
