/* Copyright 2023 Tecnativa - Carlos Roca
 * Copyright 2023 Taras Shabaranskyi
 * Copyright 2026 Liam Noonan
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Lessen gaps between fields on mobile as requested here:
// https://github.com/OCA/web/pull/2405#issuecomment-1435661180
// .o_form_view {
//     @include media-breakpoint-down(sm) {
//         .o_field_widget {
//             --fieldWidget-margin-bottom: 2px;
//         }
//         .o_group, .o_inner_group {
//             .o_cell {
//                 &.mb-3, &.mb-sm-0 {
//                     margin-bottom: 0 !important;
//                     &:not(:has(.o_field_widget)) {
//                         margin-bottom: 2px !important;
//                     }
//                 }
//             }
//         }
//     }
// }

// Many2one li items with wrap
.o_field_many2one_selection {
    .o-autocomplete--dropdown-menu .ui-menu-item-wrapper {
        white-space: initial;
    }
}

.o_content,
.modal-content {
    max-width: 100%;

    // Form views
    .o_form_editable {
        .o_cell .o_form_label:not(.o_status):not(.o_calendar_invitation) {
            min-height: 23px;
            @include media-breakpoint-up(md) {
                margin-bottom: 10px;
            }
        }

        .o_horizontal_separator {
            font-size: 14px;
        }

        // Some UX improvements for form in edit mode
        @include media-breakpoint-down(sm) {
            &.o_form_editable .o_field_widget {
                &:not(.o_stat_info):not(.o_readonly_modifier):not(
                        .oe_form_field_html
                    ):not(.o_field_image) {
                    min-height: 35px;
                }

                .o_x2m_control_panel {
                    margin-bottom: 10px !important;
                }

                &.o_field_float_percentage,
                &.o_field_monetary,
                &.o_field_many2many_selection,
                .o_field_many2one_selection {
                    align-items: center;
                }

                .o_field_many2one_selection .o_input_dropdown,
                &.o_datepicker,
                &.o_partner_autocomplete_info {
                    input {
                        min-height: 35px;
                    }
                }

                .o_external_button {
                    margin-left: 5px;
                }

                .o_dropdown_button,
                .o_datepicker_button {
                    top: 50%;
                    right: 6px;
                    bottom: auto;
                    transform: translateY(-50%);
                }
            }
        }

        @include media-breakpoint-down(sm) {
            min-width: auto;

            // Avoid overflow on modals
            .o_form_sheet {
                min-width: auto;
            }

            // Render website inputs properly in phones
            .o_group .o_field_widget.o_text_overflow {
                // Overrides another !important
                width: auto !important;
            }
        }
    }

    //No content message improvements on mobile
    @include media-breakpoint-down(md) {
        .o_view_nocontent {
            top: 53px;
        }
        .o_nocontent_help {
            box-shadow: none;
        }
        .o_sample_data_disabled {
            display: none;
        }
    }
}
