/* Copyright 2018 Tecnativa - Jairo Llopis
 * Copyright 2021 ITerra - Sergey Shebanin
 * Copyright 2023 Onestein - Anjeel Haria
 * Copyright 2023 Taras Shabaranskyi
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

.o_searchview_autocomplete {
    z-index: 999;
}

// Color clue to tell the difference between a note and a public message
// HACK: has() pseudo class is broadly supported in desktop, even FF will deploy
// full support soon (now it's available behind a config flag)
// https://caniuse.com/css-has
.o-mail-Chatter-top:has(.o-mail-Chatter-sendMessage.active) {
    .o-mail-Composer {
        background-color: lighten($o-brand-primary, 35%);
        padding-top: 0.25rem !important;
    }

    @include media-breakpoint-up(sm) {
        .o-mail-Composer {
            padding-top: 0.5rem !important;
        }
    }
}

@include media-breakpoint-up(md) {
    .app_settings_block > h2,
    .app_settings_block > div > h2 {
        @include o-position-sticky(0);
        z-index: 10;
    }
}

.o_list_table {
    .o_handle_cell,
    .o_list_record_remove {
        vertical-align: middle;
    }
}

.o_action_manager {
    .dropdown-menu {
        max-height: 70vh;
        max-height: 70dvh;
    }

    .o_searchview_input {
        padding-top: 0;
        padding-bottom: 0;
    }

    .o_control_panel_main {
        .btn {
            white-space: nowrap;
        }
    }
}
